

.button {
	width:50%;
	max-width: 10rem;
	color: white;
	background-color: $gray;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;

	transition: background-color 0.1s ease-in; 

	
	&:hover {
		@extend .button__hover;

	}

	&:active {
		
		@extend .button__active;
	}

	&__hover {
		background-color: $lightgray;
	}

	&__active {
		background-color: $darkgray;
	}
}