.button {
	width:50%;
	max-width: 10rem;
	color: white;
	background-color: #555;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;


	
	&:hover {
		@extend .button__hover;

	}

	&:active {
		
		@extend .button__active;
	}

	&__hover {
		background-color: #666;
	}

	&__active {
		background-color: #660;
	}
}