.footer {
  display: flex;
  padding: 1rem;
  padding-bottom: 0;
  color: $white;
  flex-direction: column;
  background-color: $darkgray;
  align-items: center;

  &__info {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    justify-content: space-around;

    text-align: center;
  }

  &__bot {
    display: flex;
    width: 95%;
    padding: 0.5rem;
    font-size: 0.87rem;
    border-top: 2px solid $white;
    justify-content: center;
  }
}
