.nav {
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 1rem;
  background-color: rgba(0, 0, 0, 0.75);

  justify-content: space-between;

  &__heading {
    @extend .h2;
    font-weight: bold;
    color: $white;
  }

  &__btbox {
    display: flex;

    &__btn1 {
      @extend .button;
      margin: 0 0.2rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0);
    }

    &__btn2 {
      @extend .button;
      margin: 0 0.2rem;
      font-size: 1rem;
    }
  }
}
