.html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.body {
  margin: 0;
}

.heading_font {
  font-family: "Roboto Slab", serif;
}

@import "scss/variables.scss";
@import "scss/utilities.scss";

@import "scss/checkbox.scss";
@import "scss/grid.scss";
@import "scss/jumbotron.scss";
@import "scss/button.scss";
@import "scss/profile.scss";
@import "scss/footer.scss";
@import "scss/navbar.scss";
@import "scss/form.scss";
@import "scss/texti.scss";
@import "scss/kaupa.scss";
@import "scss/kaupatakki.scss";
