@import "scss/checkbox.scss";
@import "scss/grid.scss";
@import "scss/jumbotron.scss";
@import "scss/button.scss";

html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
}

.heading_font {
	font-family: "Roboto Slab", serif;
}

.h1 {
	@extend .heading_font;
	font-size: 4rem;
}

.h2 {
	@extend .heading_font;
	font-size: 1.5rem;
}

.h3 {
	@extend .heading_font;
	font-size: 1.17rem;

}

.h4 {
	@extend .heading_font;
}

