$max-width:1200px;
$gutter: 20px;


.button {
	background: black;
}
.haus{
	background-image: url("res/image.jpg");
background-size: cover;
background-position: 50% 50%;
background-attachment:fixed;
text-align: center;
width: 100%;
font-size: 59px;
}

@import "scss/grid"
